<app-register *ngIf="!registered" (registeredChange)="registered = $event"></app-register>
<div class="container" *ngIf="registered" style="margin-top:10px;">
  <div class="card mb-2">
    <div class="card-header">
      Your Choice
    </div>
    <div class="card-body">
      <app-cards [(selection)]="selection" [disabled]="showReset" (selectionChange)="selectionChanged($event)"></app-cards>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-5">
    <div class="col mb-4" *ngFor="let card of players">
      <div class="card"
           [ngClass]="{'border-primary': card.selected === true, 'border': !card.selected}">
        <div class="card-body  text-center">
          <h5 class="card-title">{{card.name}}</h5>
          <p class="card-text">{{card.choice || "&nbsp;"}}</p>
        </div>
      </div>
    </div>
    <div class="col mb-4" *ngIf="showReset">
      <a href="#" class="card" tabindex="0" (click)="sendReset(); $event.preventDefault()" role="button">
        <div class="card-body text-center">
            <span class="fa-stack fa-2x">
              <i class="far fa-recycle fa-stack-1x"></i>
              <i class="fal fa-trash fa-stack-2x"></i>
            </span>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="modal fade show" id="connectingModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex align-items-center" style="width: 100%;">
          <strong id="modelLabel">Connecting...</strong>
          <div class="spinner-grow ml-auto" role="status" aria-hidden="true"></div>
        </div>
      </div>
    </div>
  </div>
</div>
