@import "tailwindcss";
@import "./theme.css";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 320px;
  font-weight: 400;
  line-height: 1.5;
}

button,
input {
  font: inherit;
}
